<div class="edit-user-component">
    <div class="container" *ngIf="loaded">
        <h2 class="mb-2 mt-0">Actualizar Usuario</h2>
        <div class="row">
            <form class="col-md-8 col-sm-12" autocomplete="off" #userForm="ngForm">
                <div class="form-group">
                    <label for="">name</label>
                    <input type="text" class="form-control" [(ngModel)]="model.name" name="name" required />
                </div>

                <div class="form-group">
                    <label for="">lastname</label>
                    <input type="text" class="form-control" [(ngModel)]="model.lastname" name="lastname" required />
                </div>

                <div class="form-group">
                    <label for="">email</label>
                    <input type="text" class="form-control" [(ngModel)]="model.email" name="email" required/>
                </div>

                <div class="form-group">
                    <label for="">phone</label>
                    <input type="text" class="form-control" [(ngModel)]="model.phone" name="phone" required/>
                </div>

                <div class="form-group">
                    <div class="custom-control custom-radio custom-control-inline">
                        <input type="radio" name="sexo" id="disabled" class="custom-control-input" [(ngModel)]="model.sexo" value="M" required>
                        <label class="custom-control-label" for="disabled">Masculino</label>
                    </div>
                    <div class="custom-control custom-radio custom-control-inline">
                        <input type="radio" name="sexo" id="actived" class="custom-control-input" [(ngModel)]="model.sexo" value="F" required>
                        <label class="custom-control-label" for="actived">Femenino</label>
                    </div>
                </div>

                <div class="form-group">
                    <button class="btn btn-light" type="button" (click)="onCancel()">Cancelar</button>
                    <button class="btn btn-primary ml-3" (click)="onSave()" type="button" [disabled]="userForm.invalid">Guardar</button>
                </div>
            </form>
        </div>
    </div>
</div>